# Ignorar directorios de IDE (PyCharm, VSCode, etc.)
.idea/
.vscode/
build/

# Ignorar directorios de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar entornos virtuales
venv/
.venv/
env/
.env

# --- Tus Peticiones ---
*.bat
*.spec

# Ignorar archivos de fuentes (tipografia)
*.ttf
*.otf

# Ignorar archivos de imagen
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.svg

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db